.about{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:4rem;
    align-items: center;

    background-color:#001219;
    width: 50rem;
    height: 30rem;

    border-radius: 4rem;

    color: white;
}

.name{
    display:flex;
    justify-content:flex-start;
}

.presentation{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.description{
    text-align: justify;  
    margin-top: 3rem;
    width: 90%;
}

.link{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.link:hover{
    color: #EE9B00;
}

.photo{
    border-radius:100%;
    width:15rem;
    height: 15rem;
}

.contactBox{
    margin-right: 17rem;
}

.contact{
    text-decoration: none;
    list-style:none;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;    
}

.item{
    font-size:2rem;
    color: white;
    margin: 1rem;
}

.item:hover{
    color: #EE9B00;
}


@media (max-width:415px){

    .about{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top:0rem;
        align-items: center;
    
        background-color:#001219;
        width: 90%;
        height: 40rem;
    
        border-radius: 4rem;
    
        color: white;
        padding-top: 2rem;
    }
    
    .name{
        display:flex;
        justify-content:flex-start;
    }
    
    .presentation{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        align-items: center;
    }
    
    
    .link{
        text-decoration: none;
        font-weight: bold;
        color: white;
    }
    
    .link:hover{
        color: #EE9B00;
    }
    
    .photo{
        border-radius:100%;
        width:15rem;
        height: 15rem;
    }
    
    
    .contact{
        text-decoration: none;
        list-style:none;
    
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }
    
    .item{
        font-size:2rem;
        color: white;
        margin: 1rem;
    }
    
    .item:hover{
        color: #EE9B00;
    }
    
    .contactBox{
        margin-right: 2.5rem;
    }
}